
.content,
.title {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.content {
    background-color: black;
    color: white;
}

.title {
    background-color: yellow;
}